body.template-layout.subsection-ontdek,
body.template-layout.subsection-discover,
body.template-layout.subsection-creeer,
body.template-layout.subsection-publiceer,
body.template-layout.subsection-create,
body.template-layout.subsection-publish,
body.template-layout.subsection-index,
body.template-edit.mosaic-layout-customized.subsection-discover,
body.template-edit.mosaic-layout-customized.subsection-ontdek,
body.template-edit.mosaic-layout-customized.subsection-creeer,
body.template-edit.mosaic-layout-customized.subsection-publiceer,
body.template-edit.mosaic-layout-customized.subsection-create,
body.template-edit.mosaic-layout-customized.subsection-publish,
body.template-edit.mosaic-layout-customized.subsection-index {

    article#content {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 120px;
        padding-bottom: 80px;

        @media(max-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 70px;
        }
    }

    

    
    div.outer-wrapper #top-header-wrapper #content-header {
        top: 49px;

        @media(max-width: 991px) {
            top: 24px;
        }
    }       

    .mosaic-grid-row {
        border-top: 1px solid #a6a69b;
        margin-bottom: 10px;

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9) {
            border-top: 0px;
        }

        &:nth-child(5) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }
        .mosaic-width-half {
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 70px;
            
            .video-wrapper {
                width: 100%;
                padding-top: 56.25%;
                position: relative;
                overflow: hidden;
                margin-bottom: 35px;
            }

            .video-container {
                .videoContainer();
    
                iframe {
                    height: 100%;
                }
            }

            iframe {
                border: 0px;
                max-width: 100%;
            }

            &.mosaic-position-leftmost {
                padding-left: 0px;
                border-right: 1px solid #a6a69b;

                @media(max-width: 991px) {
                    padding-left: 5px;
                    border-right: 0px;
                }
            }

            &.mosaic-position-half {
                padding-right: 0px;
            }

            @media(max-width: 991px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 100% !important;
                padding-bottom: 10px;
            }
        }

        .mosaic-width-third {
            padding-left: 0px;

            .mosaic-tile-content {
                @media(min-width: 992px) {
                    padding-bottom: 45px;
                }

                h2 {
                    border-bottom: 1px solid #a6a69b;
                    margin-top: 10px;
                    padding-top: 0px;

                    font-size: 30px;

                    

                    @media(max-width: 991px) {
                        margin-top: 35px;
                        padding-top: 15px;
                    }

                    @media(min-width: 992px) {
                        margin-bottom: 45px;

                        font-size: 2.5vw;

                    }

                    @media(min-width: 2300px) {
                        font-size: 45px;
                    }
                }
            }
        }
    }

    .mosaic-tile-content {
        h2 {
            .Lato();
            font-size: 45px;
            line-height: 1.115;
            margin-top: 15px;
            margin-bottom: 85px;
            padding-top: 20px;
            
            @media(max-width: 991px) {
                margin-bottom: 30px;
            }
        }

        p {
            .Lato();
            font-size: 23px;
            line-height: 1.22;

            @media(max-width: 991px) {
            
            }
        }

        p span.discreet {
            .Lato();
            display: block;
            color: #0a0a0a;
            font-size: 14px;
            line-height: 1.2;
            margin-top: 20px;
            opacity: 1;
        }
    }

    .landscape-item {
        a.landscape-item-link {
            pointer-events: none;
            background-color: transparent;
        }
    }


    .threecolumns-item {
        .row {
            margin-top: -1px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }

        .text-wrapper, .image-wrapper {
            p {
                .Lato();
                font-size: 16px;
                line-height: 1.2;
            }
        }

        .contact-linkedin,
        .bottom-text {
            

            p {
                margin-bottom: 5px;
            }

            a {
                text-decoration: none !important;

                &:hover,
                &:focus,
                &:active:focus {
                    text-decoration: underline !important;
                }
            }
        }

        @media(max-width: 991px) {
            .bottom-text {
                padding-top: 15px;
            }

            .row {
                padding-bottom: 60px;
                padding-left: 5px;
                padding-right: 5px;
            }

            
        }

        @media(min-width: 992px) {
            .bottom-text {
                padding-top: 50px;
            }

            .name-wrapper, .text-wrapper, .image-wrapper {
                .inner-wrapper {
                    padding-top: 45px;
                    height: 100%;
                    border-top: 1px solid #a6a69b;
                    border-bottom: 1px solid #a6a69b;

                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }

    .video-wrapper {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        overflow: hidden;
    }

    .multipleitems-wrapper {
        .video-container {
            .videoContainer();

            position: absolute;
            top: 0;
            left: 0;

            iframe {
                height: 100%;
            }
        }

        .col-lg-4 {
            margin-top: -1px;
        }

        div.multiple-items {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }

        .title-wrapper p {
            font-size: 23px;
            line-height: 1.22;
            padding-top: 45px;
            padding-bottom: 30px;
        }

        .text-wrapper p {
            font-size: 16px;
            line-height: 1.2;
        }

        @media(max-width: 991px) {

            padding-left: 5px;
            padding-right: 5px;

            .title-wrapper p {
                padding-top: 20px;
                padding-bottom: 0px;
            }
        }

        @media(min-width: 1px) { 
            .inner-wrapper {
                padding-top: 45px;
                height: 100%;
                border-top: 1px solid #a6a69b;
                border-bottom: 1px solid #a6a69b;
            }
        }

        .multiple-items.awards {

            .description-wrapper {
                p {
                    font-size: 16px;
                    margin-bottom: 20px;

                    @media(min-width: 768px) and (max-width: 991px) {
                        min-height: 4.5vw;
                        font-size: 1.8vw;
                    }

                    @media(min-width: 992px) {
                        font-size: 1.1vw;
                        min-height: 3vw;
                    }

                    @media(min-width: 2300px) {
                        font-size: 23px;
                    }
                }
            }
            
            .title-wrapper {
                p {
                    font-size: 30px;
                    line-height: 1.1;
                    padding-top: 15px;
                    padding-bottom: 10px;

                    @media(min-width: 768px) and (max-width: 991px) {
                        font-size: 3.5vw;
                    }

                    @media(min-width: 992px) {
                        font-size: 2.2vw;
                    }

                    @media(min-width: 2300px) {
                        font-size: 55px;
                    }
                }
            }

            .text-wrapper {
                p {
                    padding-top: 40px;
                }

                @media(min-width: 992px) {
                    padding-bottom: 95px;
                }
            }

            @media(min-width: 992px) { 
                .inner-wrapper {
                    padding-top: 25px;
                }
            }
        }

        div.multiple-items.index {
            .inner-wrapper {
                padding-top: 10px;
                padding-bottom: 5px;
                border-top: 2px solid #a6a69b;
                border-bottom: 0px;
            }
            .title-wrapper p {
                padding-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
                display: block;
                max-width: 100%;
                position: relative;
                
                
                
                
                
            }

            .title-wrapper {
                position: relative;
                pointer-events: none !important;

                .item_hoover_reveal {
                    @media(max-width: 991px) {
                        display: none;
                    }

                    @media(min-width: 992px) {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 350px;
                        height: 200px;
                        z-index: 100;
                        background-color: transparent;
                        transform: translateY(-45%) translateX(-50%);
                        opacity: 0;

                        -webkit-transition: 0.25s ease-in-out;
                        -moz-transition: 0.25s ease-in-out;
                        -o-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;

                        .hover-container {
                            height: 100%;
                            width: 100%;

                            iframe {
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            a {
                text-decoration: none !important;

                &:hover,
                &:focus,
                &:active:focus {
                    text-decoration: none !important;
                    color: #a6a69b !important;

                    p {
                        color: #a6a69b !important;

                        
                    }

                    .item_hoover_reveal {
                        opacity: 1;
                    }
                }
            }

            &> div:last-child {
                .inner-wrapper {
                    border-bottom: 2px solid #a6a69b;
                }
            }
        }
    }

    h3.index {
        margin-bottom: 5px;
        margin-top: 25px;
        font-size: 30px;

        @media(min-width: 992px) {
            font-size: 45px;
            margin-top: 50px;
        }
    }

    p.index {
        font-size: 25px !important;
        color: #a6a69b !important;
        @media(min-width: 992px) {
            font-size: 45px !important;
        }

        span {
            color: #0a0a0a;
        }

        a {
            font-size: 25px;
            line-height: 1.11;
            color: #a6a69b !important;
            text-decoration: none !important;

            @media(min-width: 992px) {
                font-size: 45px;
            }

            &:hover,
            &:focus,
            &:active,
            &:active:focus {
                color: #0a0a0a !important;
                text-decoration: underline !important;
            }


        }
    }


    @media(max-width: 991px) {
        article#content > .mosaic-grid-row:not(:first-child) div[class*="mosaic-plone.app.standardtiles.html-tile"] .mosaic-tile-content {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}