/* THEME FONTS */

/* HelveticaNeue65 */
@font-face {
  font-family: 'HelveticaNeue65';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/++theme++plonetheme.uitgeverijkomma/fonts/Helvetica-Neue-LT-Std-65-Medium_22532.woff) format('woff');
}

@font-face {
  font-family: 'HelveticaRoman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/++theme++plonetheme.uitgeverijkomma/fonts/HelveticaNeueLTStd-Roman.woff) format('woff');
}


