body.section-frontpage {

	@media(max-width: 992px) {
		article#content > div.mosaic-grid-row:not(:nth-child(1)):not(:last-child) {
			padding-bottom: 1px;

			.mosaic-position-leftmost {
				padding-bottom: 1px;
			}
		}

		article#content > div.mosaic-grid-row:last-child {
			.mosaic-position-leftmost {
				padding-bottom: 1px;
			}
		}

		article#content > div.mosaic-grid-row:nth-child(1) {
			padding-bottom: 1px;
		}
	}
	@media(min-width: 992px) {
		article#content > div.mosaic-grid-row:not(:nth-child(1)):not(:last-child) {
			padding-bottom: 1px;

			.mosaic-position-leftmost {
				padding-right: 1px;
			}

			.mosaic-position-half {
				padding-right: 1px;
			}
		}

		article#content > div.mosaic-grid-row:last-child {
			.mosaic-position-leftmost {
				padding-right: 1px;
			}

			.mosaic-position-half {
				padding-right: 1px;
			}
		}

		article#content > div.mosaic-grid-row:nth-child(1) {
			display: none;
		}
	}

	@media(min-width: 992px) {
		article#content {
			margin-right: -16px !important;
		}
	}
}

body {

	.mosaic-width-half section.landscape-item a.landscape-item-link,
	section.landscape-item.large-item a.landscape-item-link {
		&:hover,
		&:focus,
		&:active {
			.frontpage-tile-content {
				opacity: 1;
			}
		}
	}

	section.landscape-item {

		.listingItemWrapper();
		
		.row.no-margin {
			margin-left: 0px;
			margin-right: 0px;

			clear:both;
		}

		&.header-item {
			padding-top: 0px !important;
		}

		.landscape-item-link {
			.listingItemLink();
		}

		.video-container {
			.videoContainer();
		}

		&.header-item {
			.videoContainerHeader();
		}

		div.content-image {
			.contentImage();
		}

		.frontpage-tile-content {
			.tileContent();
		}

		.fontpage-tile-content-wrapper {
			.tileContentWrapper();
		}

		&.large-item {
			.tileLargeItem();
		}
	}

	div.mosaic-width-half section.landscape-item {
		.video-container {
			iframe {
				height: 100%;
				width: 100% !important;
				max-width: 100% !important;
				height: 100% !important;
			}
		}
	}

	&.template-layout,
	&.template-edit.mosaic-layout-customized {
		.mosaic-width-half {
			padding-left: 0px;
			padding-right: 0px;

			@media(max-width: 991px) {
				width: 100% !important;
			}
		}
	}
}

body:not(.frontend).template-edit.mosaic-layout-customized div.outer-wrapper {
	section.landscape-item {
		h2, p {
			color: #ffffff !important;
		}
	}
}

