
.frontpage.side-text-slide,
body.frontend div.outer-wrapper .frontpage.side-text-slide,
body.template-edit.mosaic-layout-customized div.outer-wrapper .frontpage.side-text-slide {

	padding-left: 40px;
	padding-right: 40px;

	.side-text-slide-wrapper {
		@media(min-width: 992px) {
			max-width: 100%;
		}

		@media(min-width: 1250px) {
			max-width: 100%;
		}

		@media(min-width: 1440px) {
			max-width: 100%;
		}
	}

	@media(min-width: 992px) {
		.side-text-body .table-cell-wrapper {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 0px;
		}

		.side-text-body .body-table-cell {
			vertical-align: top;
		}
	}

	.content-image {
		overflow: hidden;
	}

	h4 {
		.LibreExtraBold();
		font-size: 3.9vw;
		line-height: 1;
		margin-top: 10px;


		@media(max-width: 991px) {
			font-size: 28px;
			line-height: 1.143;	
			margin-bottom: 0px;
		}

		@media(min-width: 1440px) {
			font-size: 50px;
		}

		span {
			background-color: transparent;
    		background-image: linear-gradient(currentColor,currentColor);
			background-position: 0 100%;
		    background-repeat: no-repeat;
		    transition: background-size .3s linear;
		    background-size: 0 4px;
		}
	}

	.side-text-body a {
		&:hover,
		&:focus,
		&:active:focus {
			text-decoration: none !important;

			h4 span {
				background-size: 100% 4px;
			}
		}
	}

	.side-text-image img {
		transition: transform .8s ease,opacity .4s ease;
	}

	.side-text-image a {
		&:hover,
		&:focus,
		&:active:focus {
			img {
				transform: scale(1.02);
			}
		}
	}

	p {
		.LibreMedium();
		font-size: 21px;
		line-height: 1.714;
		margin-top: 10px;

		@media(max-width: 991px) {
			font-size: 19px;
			line-height: 1.789;
			margin-top: 5px;
			margin-bottom: 0px;
		}
	}

	abbr[title], abbr[data-original-title] {
		border-bottom: 0px;
		cursor: auto;
		text-decoration: none;
	}


	@media(max-width: 991px) {
		.body-table-cell {
			margin-top: 10px;
		}
	}

	&.align-Right {
		.side-text-body .table-cell-wrapper {
			@media(min-width: 992px) {
				padding-left: 0px;
			}
		}
	}

	&.align-Left {
		.side-text-body .table-cell-wrapper {
			@media(min-width: 992px) {
				padding-right: 0px;
			}
		}
	}


	&.frontpage-box {

		padding-left: 70px;
		padding-right: 70px;

		@media(max-width: 991px) {
			padding-left: 25px !important;
			padding-right: 25px !important;
		}

		.side-text-slide-wrapper {
			background-color: @theme-color-dark-yellow;
			padding-left: 0px;
			padding-right: 0px;

			.side-text-image {
				overflow: hidden;
				height: 100%;
				padding-left: 0px;
				padding-right: 0px;

				@media(max-width: 991px) {
					height: 365px;
				}

				.content-image, figure, img {
					height: 100%;
				}

				.content-image {
					    background-size: cover;
					    background-position: center bottom;
					    background-repeat: no-repeat;
					    overflow: hidden;

					    img {
					    	position: absolute;
						    top: 0;
						    left: 0;
						    width: 100%;
						    height: 100%;

						    -o-object-fit: cover;
						    object-fit: cover;
						    object-position: center bottom;
					    }
				}
			}

			.side-text-body .table-cell-wrapper {
				padding-right: 40px;
				padding-left: 55px;
				padding-top: 90px;
				padding-bottom: 100px;
				display: block;

				@media(max-width: 991px) {
					padding-top: 55px;
					padding-left: 5px;
					padding-right: 5px;
					padding-bottom: 65px;
				}
			}

			.side-text-body .body-table-cell {
				display: block;
			}

			h4 {
				font-size: 3.75vw;
				line-height: 1.087;
				margin-bottom: 10px;

				@media(min-width: 1440px) {
					font-size: 46px;
					line-height: 1.087;
				}

				@media(max-width: 991px) {
					font-size: 28px;
					line-height: 1.143;
				}
			}

			p {
				margin-top: 10px;
				margin-bottom: 25px;

				@media(max-width: 991px) {
					font-size: 19px;
					line-height: 1.684;
				}

				@media(min-width: 992px) {
					font-size: 1.65vw;
				}

				@media(min-width: 1440px) {
					font-size: 21px;
				}
			}

			div.more-link a {
				.LibreMedium();
				font-size: 21px;
				line-height: 1.714;
				color: #000000 !important;

				border-bottom: 3px solid #000000;
				
				@media(max-width: 991px) {
					font-size: 19px;
					line-height: 1.895;
					border-bottom: 2px solid #000000;
				}

				&:hover,
				&:focus,
				&:active:focus {
					text-decoration: none !important;
					color: #000000 !important;
					border-bottom: 0px solid #000000;
				}
			}
		}


	}
}

#main-container .side-text-slide.row {
	@media(max-width: 991px) {
		padding-top: 80px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

body.frontend.section-front-page {
	article#content {
		@media(max-width: 991px) {
			margin-bottom: 0px;
		}
	}
}