
body.template-edit.mosaic-layout-customized {
	.listing_structure();
}

body.template-layout.mosaic-grid,
body.template-edit.mosaic-layout-customized {
	div.entries {
		padding-top: 80px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		clear: both;

		@media(max-width: 991px) {
			margin-top: 0px;
			padding-top: 50px;
		}

		/* Apply general rules for entries */
		.entries();
	}


	div.multipleitems-wrapper {
		padding-left: 55px;
		padding-right: 55px;
		margin-bottom: 0px;
		padding-bottom: 50px;

		@media(max-width: 991px) {
			margin-top: 65px;
			padding-left: 10px;
			padding-right: 10px;
		}

		@media(min-width: 1440px) {
			max-width: 100%;
			margin: 0 auto;
		}

		h2.tileHeader, div.entries .title-wrapper a span, div.entries .title-wrapper a, div.show_more_link a {
			color: #000000 !important;
		}

		&.Purple,
		&.Red {

			@media(max-width: 991px) {
				padding-bottom: 15px;
				margin-top: 0px;
			}

			h2.tileHeader, div.entries .title-wrapper a span, div.entries .title-wrapper a, div.show_more_link a {
				color: #ffffff !important;
			}

			h2.tileHeader {
				margin-top: 95px;

				@media(max-width: 991px) {
					margin-top: 70px;
				}
			}

			div.show_more_link a {
				border-bottom: 2px solid #ffffff !important;

				&:hover,
				&:focus,
				&:focus:active {
					color: #ffffff !important;
					border-bottom: 0px solid #ffffff !important;
				}
			}

			div.show_more_link {
				margin-top: 105px;

				@media(max-width: 991px) {
					margin-top: 70px;
				}
			}
		}

		&.Purple {
			background-color: #92278F;
		}

		&.Red {
			background-color: #D2232A;
		}
	}

	div[class~="mosaic-plonetheme.uitgeverijkomma.tiles.multipleitems-tile"] .mosaic-tile-content {
		padding-left: 15px;
		padding-right: 15px;

		@media(min-width: 1440px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}


/* Extra: needs to be fixed */
body.section-frontpage #main-container footer.row {
	display: none;
}




