
.searchItems() {
	.search-result {
		float: left;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;

		img {
			width: 100%;
		}

		.search-result-wrapper {
			padding-top: 0px;
			padding-bottom: 10px;

			@media(max-width: 991px) {
				padding-top: 10px;
			}
		}
	}

	cite.documentLocation {
		display: none;
	}

	span.documentByLine {
		display: block;
	}
	
	.search-result-title {
		.LibreExtraBold();
		font-size: 25px;
		line-height: 1.5;
		color: #000000;
		border-bottom: 0px;
		text-decoration: none;

		@media(max-width: 991px) {
			font-size: 22px;
			line-height: 1.636;
		}

		&:hover,
		&:focus,
		&:active,
		&:active:focus {
			color: #000000;
			text-decoration: underline;
		}
	}

	.search-item-title {
		.LibreBold();
		font-size: 1.375em;
		color: #000000;
		font-weight: 400s;
		border-bottom: 0px;
		text-decoration: none;
	}

	.search-result-description {
		.LibreMedium();
		color: #000000;
		font-size: 21px;
		line-height: 1.714;
		margin-top: 0px;
		margin-bottom: @theme-listing-description-margin-bottom;

		opacity: 1;

		@media(max-width: 991px) {
			font-size: 19px;
			line-height: 1.684;
		}
	}
}

body.template-search #main-container #content-core {
	.searchItems();
}

nav.pagination ul {
	.LibreBold();

	a {
		.LibreBold();
	}
}
