.termsAndConditions() {
    .mosaic-grid-row {
        .mosaic-width-quarter {
            width: 100% !important;
        }

        h4 {
            font-size: 30px !important;
            padding-top: 25px !important;
        }

        h3 {
            margin-top: 0px !important;
            padding-bottom: 15px !important;
            font-size: 30px !important;
        }

        p {
            font-size: 16px !important;
            margin-bottom: 15px !important;
        }

        ul li {
            font-size: 16px !important;
            color: #0a0a0a !important;
        }

        .mosaic-position-quarter {
            h4 {
                padding-top: 0px !important;
                font-size: 25px !important;
            }
        }
    }
}

body.template-checkout {
    background-color: #ffffff;
    font-size: 14px;

    .redPointer();

    label {
        font-weight: 400;
        margin-top: 2px;
    }

    .Lato();

    .layout();
    .buttons();

    .plone-modal-wrapper {
        .termsAndConditions();
    }

    .content-wrapper > .documentFirstHeading  {
        display: none;
    }

    .documentFirstHeading {
        border-bottom: 0px;
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2, h3 {
        margin-top: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #0a0a0a;
    }

    h2 {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #input-checkout-checkout_back,
    #input-checkout-confirm_back {
        margin-left: 15px;
        .shopButtonGrey();
    }

    #input-checkout-next,
    #input-checkout-finish {
        margin-right: 15px;
        .shopButtonBlack();
    }

    textarea {
        min-height: 5em;
    }

    select {
        padding-top: 9px;
    }

    article#content {
        .field {
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
        input, select, textarea, .btn {
            font-size: 14px !important;
            
            @media(max-width: 991px) {
                font-size: 16px !important;
            }

            
        }

        .btn {
            @media(min-width: 2300px) {
                font-size: 23px !important;
            }
        }

        padding-bottom: 50px;

        label .required::after {
            top: 4px;
        }

        #input-checkout-personal_data-gender,
        #input-checkout-delivery_address-gender,
        #input-checkout-billing_address-country,
        #input-checkout-delivery_address-country {
            width: 20%;
            font-size: 14px;

            @media(max-width: 991px) {
                width: 50%;
                font-size: 16px;
            }
        }

        .field input[type="text"], .field input[type="email"], .field select {
            width: 100%;
        }

        #field-checkout-personal_data-firstname, 
        #field-checkout-personal_data-email, 
        #field-checkout-billing_address-zip, 
        #field-checkout-delivery_address-firstname, 
        #field-checkout-delivery_address-zip {
            margin-right: 0px;
            padding-right: 1em;
        }


        #input-checkout-payment_selection-payment_method-ideal,
        #input-checkout-payment_selection-payment_method-creditcard,
        #input-checkout-payment_selection-payment_method-paypal {
            margin-right: 57px !important;
            vertical-align: middle;
            height: auto;
            margin-top: 18px;
            margin-bottom: 21px;
            width: auto !important;
        }

        label[for='input-checkout-payment_selection-payment_method-ideal'] {
            height: 40px;
            background-image: url("/nl/intk/images/payment_icons.png");
            background-repeat: no-repeat;
            background-position: 25px -69px;
        }

        label[for='input-checkout-payment_selection-payment_method-creditcard'] {
            height: 40px;
            background-image: url("/nl/intk/images/payment_icons.png");
            background-repeat: no-repeat;
            background-position: 25px -227px;
        }

        label[for='input-checkout-payment_selection-payment_method-paypal'] {
            height: 40px;
            background-image: url("/nl/intk/images/payment_icons.png");
            background-repeat: no-repeat;
            background-position: 25px -188px;
        }

        @media(max-width: 991px) {
            #field-checkout-personal_data-firstname, 
            #field-checkout-personal_data-email, 
            #field-checkout-billing_address-zip, 
            #field-checkout-delivery_address-firstname, 
            #field-checkout-delivery_address-zip {
                float: none;
            }
        }

        #tag-checkout-payment_selection-heading,
        #tag-checkout-shipping_selection-heading,
        #field-checkout-payment_selection-payment,
        #field-checkout-shipping_selection-shipping {
            display: none;
        }
        

        @media(min-width: 992px) {
            max-width: 700px;
            margin: 0 auto;

            #field-checkout-personal_data-firstname,
            #field-checkout-personal_data-email,
            #field-checkout-personal_data-vat_number,
            #field-checkout-personal_data-company,
            #field-checkout-billing_address-street,
            #field-checkout-billing_address-housenumber_addition,
            #field-checkout-billing_address-zip,
            #field-checkout-delivery_address-firstname,
            #field-checkout-delivery_address-email,
            #field-checkout-delivery_address-street,
            #field-checkout-delivery_address-housenumber_addition,
            #field-checkout-delivery_address-zip,
            #field-checkout-delivery_address-vat_number,
            #field-checkout-delivery_address-company {
                width: 50%;
            }



            #field-checkout-personal_data-lastname,
            #field-checkout-personal_data-phone,
            #field-checkout-personal_data-vat_number,
            #field-checkout-personal_data-company,
            #field-checkout-billing_address-housenumber,
            #field-checkout-billing_address-city,
            #field-checkout-delivery_address-lastname,
            #field-checkout-delivery_address-phone,
            #field-checkout-delivery_address-housenumber,
            #field-checkout-delivery_address-city,
            #field-checkout-delivery_address-vat_number,
            #field-checkout-delivery_address-company {
                width: 50%;
                float: left;
            }

            #field-checkout-billing_address-street,
            #field-checkout-delivery_address-street {
                float: left;
                padding-right: 1em;
            }

            #field-checkout-billing_address-housenumber_addition,
            #field-checkout-delivery_address-housenumber_addition { 
                padding-right: 1em;
            }
        }
    }


    #form-checkout.mode_display {
        label {
            font-weight: 400;
        }

        p.cart_item_description {
            font-size: 16px;
        }

        #tag-checkout-accept_terms_and_conditions-accept_terms_description {
            padding-left: 15px;
            padding-right: 15px;
        }

        #field-checkout-delivery_address-alternative_delivery {
            display: none;
        }
        
        #field-checkout-personal_data-lastname,
        #field-checkout-personal_data-phone,
        #field-checkout-personal_data-company,
        #field-checkout-personal_data-vat_number,
        #field-checkout-billing_address-housenumber,
        #field-checkout-billing_address-city,
        #field-checkout-delivery_address-lastname,
        #field-checkout-delivery_address-phone,
        #field-checkout-delivery_address-housenumber,
        #field-checkout-delivery_address-city,
        #field-checkout-delivery_address-company,
        #field-checkout-delivery_address-vat_number {
            float: none;
        }

        #tag-checkout-delivery_address-heading.hidden {
            display: none;
        }

        #field-checkout-delivery_address-alternative_delivery label {
            display: block;
        }

        img.cart_item_preview_image {
            width: 100px;
        }

        .field {
            width: auto !important;
            padding-right: 5px !important; 
            margin-bottom: 5px !important;
            margin-right: 0px !important;
        }

        #field-checkout-personal_data-phone {
            clear: both;
        }

        #field-checkout-billing_address-housenumber,
        #field-checkout-billing_address-housenumber_addition,
        #field-checkout-delivery_address-housenumber,
        #field-checkout-delivery_address-housenumber_addition {
            display: inline-block;
            padding-left: 0px;
        }

        #field-checkout-billing_address-zip,
        #field-checkout-delivery_address-zip {
            clear: both;
        }

        .checkout_cart_overview {
            box-shadow: none;
            border-radius: 0px;
        }

        #field-checkout-accept_terms_and_conditions-accept {
            padding-bottom: 0px;   
        }

        #input-checkout-accept_terms_and_conditions-accept,
        #input-checkout-accept_terms_and_conditions-subscribe_newsletter {
            margin-top: 2px;
        }

        #field-checkout-accept_terms_and_conditions-subscribe_newsletter {
            padding-bottom: 45px;
        };
        
        ul.cart_item_content li {
            clear: both;
            display: block;
            margin-left: 0px;
            padding-top: 10px;
            font-size: 16px;
            border-bottom: 1px solid #0a0a0a;
            line-height: 32px;
            color: #0a0a0a;
        }

        table.cart_sum_content {

            tr.summary_net {
                border-top: 1px solid #a6a69b;
            }

            td {
                text-align: left;
                color: #a6a69b;
                margin-left: 0px;
            }

            tr.summary_total {
                td {
                    color: #0a0a0a;
                }
            }

            .summary_label {
                text-align: left;
                border-right: 1px solid #a6a69b;
                padding-left: 0px;
            }

            .shipping_info {
                max-width: 100%;
            }

            td.summary_ammount {
                padding-left: 30px;
                min-width: 112px;
                text-align: right;
            }
        }

        img.cart_item_preview_image {
            width: 200px;
            float: left;
            margin-left: 0px;
            margin-right: 20px;
        }

        #tag-checkout-accept_terms_and_conditions-accept_terms_description {
            display: block;
            margin-bottom: 10px;
        }

        #field-checkout-accept_terms_and_conditions-subscribe_newsletter label {
            display: unset;
        }
    }
}

body.template-orders,
body.template-bookings {
    .content-wrapper > .documentFirstHeading  {
        display: none;
    }
}

body.template-pay_invoice_done div.outer-wrapper #main-container,
body.template-payment div.outer-wrapper #main-container {
    
    .Lato();
    .layout();
    .buttons();

    padding-top: 80px;

    @media(min-width: 992px) {
        padding-top: 150px;
    }

    article#content {
        
        padding: 20px;
        padding-bottom: 45px;
        
        @media(min-width: 992px) {
            max-width: 700px;
            margin: 0 auto;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }

    .content-wrapper > .documentFirstHeading  {
        display: none;
    }

    .documentFirstHeading {
        border-bottom: 0px;
        font-size: 30px;
    }

    h2, h3 {
        margin-top: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #0a0a0a;
    }

    h2 {
        font-size: 20px;
    }

    a.payment_button {
        .shopButtonGrey();
        text-decoration: none;
    }

    a.payment_pdf {
        .shopButtonBlack();
        text-decoration: none;
    }
}   
    
