
.redPointer() {
  cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+CiA8Y2lyY2xlIHI9IjciIGN4PSI4IiBjeT0iOCIgc3R5bGU9ImZpbGw6cmVkO3N0cm9rZTpncmF5O3N0cm9rZS13aWR0aDowLjEiIC8+Cjwvc3ZnPgo="), auto;

  a, a:hover, a:focus, a:active:focus, button, .btn, .product-buy-btn:hover, .product-buy-btn:focus, .product-buy-btn:active:focus, input, select, input:hover, select:hover, label, label:hover, textarea, textarea:hover {
    cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+CiA8Y2lyY2xlIHI9IjciIGN4PSI4IiBjeT0iOCIgc3R5bGU9ImZpbGw6cmVkO3N0cm9rZTpncmF5O3N0cm9rZS13aWR0aDowLjEiIC8+Cjwvc3ZnPgo="), auto;
  }
}

body {
	overflow-x: hidden;
    height: 100%;
}

html {
	height: 100%;
}

div.website-wrapper {
  height: 100%;
}

body:not(.frontend) div.website-wrapper {
  background: #ffffff;
}

body.frontend {
  .redPointer();
}

body {
  .main-container-wrapper, .plone-toolbar-left-expanded .main-container-wrapper {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;

    @media(max-width: 991px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media(min-width: 1850px) {
      padding-left: 65px;
      padding-right: 65px;
    }
  }
}

body.template-edit {
  #main-container .content-wrapper {
    width: 100% !important;
  }
}

body:not(.frontend) {
  header#content-header {
    display: none;
  }

  div.content-wrapper {
    margin-top: 140px;
  }
}

body {
  .main-container-wrapper.container {
    width: auto !important;
  }
}


